[submodule "Minecraft-Overviewer"]
	path = Minecraft-Overviewer
	url = https://github.com/overviewer/Minecraft-Overviewer.git
[submodule "minecraft-tools"]
	path = minecraft-tools
	url = https://github.com/air/minecraft-tools.git
